<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Exam Registration</title>
    <link rel="stylesheet" href="/css/studentHome.css"/>
</head>
<body>
    <% if (success && success.length > 0) { %>
  <div class="alert success"><%= success %></div>
<% } %>

<% if (error && error.length > 0) { %>
  <div class="alert error"><%= error %></div>
<% } %>
    <header>
        <h1>Welcome to UVCE Page</h1>
        <nav>
            <a href="/student/logout">Logout</a>
            <a href="tel:00000">Contact</a>
        </nav>
    </header>

    <main>
        <div class="student">
            <h1>Welcome <%= student.name %></h1>
            <h3>Upcoming Exams for <%= student.branch %> - <%= student.semester %> Semester</h3>

            <div class="exams">
                <% if (exams && exams.length > 0) { %>
                    <% exams.forEach((exam) => { %>
                        
                        <div class="exam">
                            <h1>the <%= exam.examId %>  registration</h1>
                            <h2>end Date is: <%= exam.registerLastDate %></h2>
                            <h6>Fee: ₹<%= exam.fee %></h6>
                            <a href="/exam/registration/<%= exam.examId %>/<%= student._id %>">Register</a>
                        </div>
                    <% }) %>
                <% } else { %>
                    <div>
                        <h1>No exams are going on right now.</h1>
                    </div>
                <% } %>
            </div>
        </div>
    </main>

    <footer>
        <small>&copy; <%= new Date().getFullYear() %> Exam Registration</small>
    </footer>

    <script src="/js/main.js"></script>
</body>
</html>
